extends layout

block content
  
  h1= title
  p Welcome to #{title}
  p
    a(href="/") Home
  p
    a(href="contact") Contact
  h3 Those who have contributed to this project
  ul
    li Rufai Mustapha
    li Godfrey
    li livinus
    li Ifunanya
    li Cornel
    li surejenny
    li paragonsabi



    


