extends layout

block content
  h1 Together Page
  p Local Government 
 
  h2 local Governments in Enugu State
  ul
    li Aninri
    li Agwu
    li Enugu East
    li Enugu North
    li Enugu South
    li Ezeagu
    li Igbo Etiti
    li Igbo Eze North
    li Igbo Eze South
    li Isi Uzo
    li Nkanu East
    li Nkanu West
    li Nsukka
    li Oji River
    li Udenu
    li Udi
    li Uzo-Uwani
